@import url(../css/index.css);

body {
    height: 100vh;
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    background-color: var(--form-bg-color);
}

.login-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.login-label {
    text-align: left;

}

.login-field {
    padding: 16px;
    font-size: 1rem;
    border-radius: 8px;
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    color: var(--text-color);
}

.login-field::placeholder {
    color: var(--form-field-placeholder);
}

.login-field:invalid {
    border-color: var(--form-field-error);
}

.login-actions {
    margin-top: 24px;
    text-align: left;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    margin-left: 24px;
}

@media screen and (max-width: 512px) {
    body {
        height: 100%;
    }

    .login-actions .button {
        display: block;
        margin-bottom: 24px;
    }

    .login-link {
        margin: 0;
    }

    .login-actions {
        margin: 0;
        padding-left: 30px;  
    }

    .login-label {
        text-align: center;
    }

}